.icon-style {
    position: absolute;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
}

.bg:hover {
    animation-play-state: paused;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }

    50% {
        opacity: 0.3;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}



/* Skills */
@keyframes blowUpContent {
    0% {
        height: 1px;
        opacity: 0;
    }

    25% {
        height: 20px;
        opacity: 0.2;
    }

    50% {
        height: 100px;
        opacity: 0.5;
    }

    100% {
        height: 100%;
        opacity: 1;
    }
}



@keyframes load {
    from {
        width: 0%
    }
}

@-webkit-keyframes load {
    from {
        width: 0%
    }
}

@-moz-keyframes load {
    from {
        width: 0%
    }
}

@-o-keyframes load {
    from {
        width: 0%
    }
}

.bar {
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.bar::before {
    content: attr(data-skill);
    background-color: #f8c6d6;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}

.bar.front::before {
    background-color: #9e1b44;
}

.bar.back::before {
    background-color: #e27c9d;
}
.bar.tiny::before {
    width: calc(10% - 10px);
}
.bar.learning::before {
    width: calc(20% - 10px);
}

.bar.basic::before {
    width: calc(40% - 10px);
}

.bar.medium::before {
    width: calc(50% - 10px);
}

.bar.intermediate::before {
    width: calc(60% - 10px);
}

.bar.advanced::before {
    width: calc(80% - 10px);
}

.bar.expert::before {
    width: calc(90% - 10px);
}

/* Skills */