.icon-style {
    position: absolute;
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
}

.bg:hover {
    animation-play-state: paused;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
    }

    50% {
        opacity: 0.3;
    }

    100% {
        transform: scale(1.5);
        opacity: 0;
    }
}

/* Skills */
@keyframes blowUpContent {
    0% {
        height: 1px;
        opacity: 0;
    }

    25% {
        height: 20px;
        opacity: 0.2;
    }

    50% {
        height: 100px;
        opacity: 0.5;
    }

    100% {
        height: 100%;
        opacity: 1;
    }
}

@keyframes load {
    from {
        width: 0%;
    }
}

@-webkit-keyframes load {
    from {
        width: 0%;
    }
}

@-moz-keyframes load {
    from {
        width: 0%;
    }
}

@-o-keyframes load {
    from {
        width: 0%;
    }
}

.bar {
    background-color: #EEE;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    height: 24px;
    line-height: 24px;
    overflow: hidden;
}

.bar::before {
    content: attr(data-skill);
    background-color: #f8c6d6;
    display: inline-block;
    padding: 0 10px;
    /* Adjusted padding */
    height: 100%;
    /* Make it fill the height */
    line-height: inherit;
    /* Ensure text is vertically centered */
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
    width: 0;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    white-space: nowrap;
    /* Prevent text from wrapping */
}

.bar.front::before {
    background-color: #9e1b44;
}

.bar.back::before {
    background-color: #e27c9d;
}

/* Skill Levels */
.bar.tiny::before {
    width: calc(10% - 0px);
    /* Adjusted calculation */
}

.bar.learning::before {
    width: calc(20% - 0px);
    /* Adjusted calculation */
}

.bar.basic::before {
    width: calc(40% - 0px);
    /* Adjusted calculation */
}

.bar.medium::before {
    width: calc(50% - 0px);
    /* Adjusted calculation */
}

.bar.intermediate::before {
    width: calc(60% - 0px);
    /* Adjusted calculation */
}

.bar.advanced::before {
    width: calc(80% - 0px);
    /* Adjusted calculation */
}

.bar.expert::before {
    width: calc(90% - 0px);
    /* Adjusted calculation */
}