@media screen and (min-width: 768px) {
    .btn-style {
        position: absolute;
        left: 50%;
        top: 60%;
        transform: translate3d(-50%, -50%, 0px);
        z-index: 100;
        background: #a51a46;
        cursor: pointer;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        text-align: center;
    }

    .bg {
        z-index: 90;
        width: 50px;
        height: 50px;
        border-radius: 100%;
        animation: pulse 2s ease infinite;
        background: #8a1238;
    }

    .card-contain {
        margin: 5%;
    }

    .btn-close {
        font-size: 50px !important;
        padding: 10px 40px;
    }

    .btn-close:hover {
        transition: 1.2s;
        color: #9e1b44;
        font-size: 55px;
    }

    .aboutme-style {
        display: flex;
        justify-content: center;
    }

    .img-div {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-width: 30%;
        height: fit-content;
        padding: 60px 0px;
    }

    .aboutme-img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
    }

    .aboutme-text {
        max-width: 40%;
        padding: 30px;
    }

    .aboutme-skills {
        width: 20%;
        padding: 45px 10px;
    }

    .white-box {
        margin: 30px;
    }
}

@media screen and (max-width: 768px) {
    .btn-style {
        position: absolute;
        left: 50%;
        bottom: 40px;
        transform: translateX(-50%);
        z-index: 100;
        background: #a51a46;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        text-align: center;
    }

    .icon-style {
        font-size: 30px;
    }

    .bg {
        z-index: 90;
        width: 80px;
        height: 80px;
        border-radius: 100%;
        animation: pulse 2s ease infinite;
        background: #8a1238;
    }

    .text-card-modal {
        display: flex;
    }

    .btn-close {
        font-size: 40px !important;
        padding-right: 15px;
    }

    .aboutme-style {
        display: block;
    }

    .img-div {
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .aboutme-img {
        display: flex;
        padding-top: 20px;
        border-radius: 50%;
    }

    .card-contain {
        padding-top: 60px;
    }
}