html,
body {
    height: fit-content;
    font-family: 'Rubik', sans-serif;
}

.btn-close {
    cursor: pointer;
    float: right;
    color: #b97a8e !important;
    font-weight: bold;
}

.btn-close:hover {
    transition: .8s;
    color: #9e1b44 !important;
}

.btn-sem-estilo {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

.btn-style:hover {
    transition: 1.2s;
    background: #5a0834;
    animation-play-state: paused;
}


.btn-back {
    letter-spacing: 1px;
    font-size: 30px;
    color: #9e1b44;
    float: left;
}

.btn-back:hover {
    transition: 1.2s;
    color: rgba(145, 202, 212, 0.82);
}

.canvas-style {
    background-color: #e8fafd;
    max-height: 100vh;
    width: auto;
    max-width: 100vw;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.card-modal {
    margin: 30px;
    background: white;
    padding: 10px 15px;
    z-index: 155;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
}

.card-modal:hover {
    transition: 1.2s ease-out;
    background: rgba(236, 243, 244, 0.82);
}

.hide {
    visibility: hidden !important;
    display: none;
}

.modal-style {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0px);
    width: 100vw;
    height: 100vh;
    background: #d5dee6e6;
    z-index: 150;
    animation: blowUpContent .5s forwards;
    overflow-x: hidden;
}

.parent-container {
    background-color: white;
    padding: 3vw;
}

.card-contain p {
    text-align: center;
}

.subir {
    position: absolute;
}

.subtitle {
    font-size: 25px;
    font-weight: bold;
    color: #9e1b44;
    padding: 10px;
}

.white-box {
    background: white;
    padding: 30px;
    border-radius: 20px;
    z-index: 155;
    height: fit-content;
}

.text-card-modal {
    color: #9e1b44;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-icon {
    padding: 0px 10px;
    font-size: 20px;
}

.title {
    color: #9e1b44;
    /* -webkit-text-stroke: 2px rgb(255, 255, 255); */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 0px;
    letter-spacing: -1px;
    line-height: 1;
    margin: 0px 30px;
}

.btn-common {
    background: #9e1b44;
    padding: 10px 40px;
    margin-top: 15px;
    border-radius: 50px;
    letter-spacing: 1px;
    font-size: 15px;
    color: white;
    float: left;
    text-decoration: none;
}

.btn-quadrado {
    height: 50%;
    width: 50%;
    overflow: hidden;
}

.img-quadrado {
    position: relative;
}