
body {
    background: linear-gradient(#DCEFF3 2%, #DDF1FD 1%, white);
    height: 600px;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 2%;
    
}

iframe{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top:2.3%;
}



footer{
    color: #4680C2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 95%;
    margin:3%;
}


