
body {
    background: linear-gradient(#DCEFF3 2%, #DDF1FD 1%, white);
    height: 600px;
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
}

img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin-top: 2%;
    
}

iframe{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top:2.3%;
}



footer{
    color: #4680C2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 95%;
    margin:3%;
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
}



@import url('https://fonts.googleapis.com/css?family=Rubik');
html {
  height: 100%;
}
body {
  color: #F0F3F4;
  font: normal 16px/1.25 'Rubik', sans-serif;
  min-height: 100%;
  height: 100%;
  overflow: scroll;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.container {
  height: 100%;
}
.gallery {
  list-style-type: none;
  height: 100%;
  width: 100%;
  margin-bottom:20%; 
}
.gallery li {
  float: left;
  height: 100%;
  width: 400px;
  background: #2E4053;
}
.gallery .flip {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;

  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
.gallery li:hover .front-side {
  opacity: 0;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.gallery li:hover .back-side {
  background: #000;
  opacity: 1;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.gallery .front-side,
.gallery .back-side {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility:  hidden;
  -moz-backface-visibility:  hidden;
  backface-visibility:  hidden;

  -webkit-transition: transform 0.4s ease-out, opacity 0.3s ease-out;
  -moz-transition: transform 0.4s ease-out, opacity 0.3s ease-out;
  transition: transform 0.4s ease-out, opacity 0.3s ease-out;
}
.gallery .front-side {
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.gallery .back-side {
  opacity: 0;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.gallery .back-side > a {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery li:nth-child(1) .front-side {
  background-image:url('https://lh3.googleusercontent.com/aqoi7niKI80jVq4_BXKjpiyXEluA4n1vwn8HhwCydwcOub9w6FvE9A4C_cHzEYBPnHcuEiKdrj2GA6_vWMzu6aRZv0Xvnx9e9fAv1yqPvwIsM-tku79ddFRCk1Gs7CGQlwAvxihnYg');
}
.gallery li:nth-child(1) .loader {
  border-top-color: #F39C12;
  border-left-color: #F39C12;
}
.gallery li:nth-child(1) .text h3 {
  color: #F39C12;
}
.gallery li:nth-child(1) .text h3:after {
  background: #F5B041;
}

.gallery li:nth-child(2) .front-side {
  background-image: url('https://lh3.googleusercontent.com/cF8wRXr8MEf8OLoPAxEFH8sBRDej9hQIJ2gZ_rUa6IP0v5Z6JjXLXa_cAquR6Vrz7J8AKGmAifB7SKtevDt_pdpCP27VGJ2xIsOBEPfni8rmyZWc0J88k_jCsL2TA2kCEEBLaxBWyg');
}

.gallery li:nth-child(3) .front-side {
  background-image: url('https://lh3.googleusercontent.com/MDMgDutZi6VwyPeSm_YeX2PA-0lPg7cDv385Alfo8ZYnRYhpPITCG6DzDJwygAjd5n98SwxoYtpK1bMtfe-ctq9vR9fvEC5LXrPvxMIUzyVO9nCEo57fyqiDl4_jjYEkThcBI7i8Hw');
}
.gallery li:nth-child(3) .loader {
  border-top-color: #424949;
  border-left-color: #424949;
}
.gallery li:nth-child(3) .text h3 {
  color: #424949;
}
.gallery li:nth-child(3) .text h3:after {
  background: #515A5A;
}

.gallery li:nth-child(4) .front-side {
  background-image: url('https://lh3.googleusercontent.com/4rbLZQhXL_7a7hK9FKtEJhLb4FLTSl3t3gXyBpbC4mK9f_oSEXERMz5zSM_A3nvkmvr_TknByZCZdaOxxX2Jt8epXZTgQ-aw6tEGyI4owf7aiLyvKcFOIhyDaVlLW25ZBch9WeGbvQ');
}
.gallery li:nth-child(4) .loader {
  border-top-color: #F1C40F;
  border-left-color: #F1C40F;
}
.gallery li:nth-child(4) .text h3 {
  color: #F1C40F;
}
.gallery li:nth-child(4) .text h3:after {
  background: #F7DC6F;
}

.gallery li:nth-child(5) .front-side {
  background-image: url('https://lh3.googleusercontent.com/oTqGTvIDHVWm09oU-ysBwWmo_mwadBiIIbkZFQkVDtnXxonzDBkm4NwGe9ScTMAcw57Vn0NO0MXodOosSFc5a9hqrGWIU250UwP4S-sA7-djHnUYAzIXvFgjc_XQy24C0kq7BJyORQ');
}
.gallery li:nth-child(5) .loader {
  border-top-color: #1ABC9C;
  border-left-color: #1ABC9C;
}
.gallery li:nth-child(5) .text h3 {
  color: #1ABC9C;
}
.gallery li:nth-child(5) .text h3:after {
  background: #48C9B0;
}

.gallery li:nth-child(6) .front-side {
  background-image: url('https://lh3.googleusercontent.com/l53gouxPwUx1OF91g5X1NHGsJ5gOGIHCrncY7LrQT28_B_OuBN_5cUJfYHnuVBCHQUjddT1qcyJcLqMWuZbWnJwyjSLeoGYFt2kXEkcb8ub_PE1_2IHo9xJh2dF_KTfp3H5DjPSGgA');
}
.gallery li:nth-child(6) .loader {
  border-top-color: #E74C3C;
  border-left-color: #E74C3C;
}
.gallery li:nth-child(6) .text h3 {
  color: #E74C3C;
}
.gallery li:nth-child(6) .text h3:after {
  background: #EC7063;
}



.gallery .content {
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 25px 20px;
}

.gallery li:hover .text {
  opacity: 1;
  visibility: visible;
  max-height: 2000px;
  -webkit-transition: opacity .3s ease-in 1.5s, max-height .1s ease 1.5s;
  -moz-transition: opacity .3s ease-in 1.5s, max-height .1s ease 1.5s;
  transition: opacity .3s ease-in 1.5s, max-height .1s ease 1.5s;
}
.gallery li:hover .loader {
  opacity: 1;
  visibility: visible;
  -webkit-animation: hide .1s ease-in-out 1.4s forwards, load .75s infinite;
  -moz-animation: hide .1s ease-in-out 1.4s forwards, load .75s infinite;
  animation: hide .1s ease-in-out 1.4s forwards, load .75s infinite;
}
.gallery .text {
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}
.gallery .content h3 {
  position: relative;
  color: #3498DB;
  font: normal 30px/1.25 'Open Sans';
  margin-bottom: 25px;
}
.gallery .content h3:after {
  content: '';
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: -10px;
  left: 50%;
  margin-left: -25px;
  background: #85C1E9;
}
.gallery .content p {
  margin: 10px 0;
  color: #D6DBDF;
  font: normal 16px/1.25 'Open Sans';
}
.gallery .loader {
  opacity: 0;
  visibility: hidden;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #3498DB;
  border-left-color: #3498DB;
}

@-webkit-keyframes load {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes load {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes hide {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@-moz-keyframes hide {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
@keyframes hide {
  100% {
    visibility: hidden;
    opacity: 0;
  }
}
